{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="row">
    <div class="col-sm-4 p-5">
        {% if "placeholder" in home.side_image.url %} <img src="{% static 'images/books.jpg' %}" width="75%" alt="Images of Books by Agatha Christie" class="images">{% endif %}
    </div>
    <div class="col-sm-4 bg-light p-5 mt-5">
        <h1>{{ home.title }}</h1>
        <p>{{ home.content }}</p>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}
