{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
 <div class="container-fluid">
    <div class="row">
        <!--This code alows for the image on the home page to be in the correct place. There is also an alt if it doesn't load properly-->
        <div class="col-sm-4 p-5">
            {% if "placeholder" in home.side_image.url %} <img src="{% static 'images/holonet.webp' %}" width="75%" alt="The HoloNet logo" class="images">{% endif %}
        </div>
        <!--This code loads the model for the home page content and title. The 'safe' ensures it loads properly with html-->
        <div class="col-sm-4 bg-light p-5 mt-5 card">
            <h1 class="text-center">{{ home.title }}</h1>
            <p>{{ home.content | safe }}</p>
        </div>

    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}
