{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="forms container bg-light form p-3 text-center">
    <h1>Book Here</h1>
    <form id="bookingForm" method="post" class="d-grid">
        {{ booking_form | crispy }}
        {% csrf_token %}
        <button id="bookingButton" class = "btn btn-block btn-secondary">Submit</button>
        </form>
</div>
<!-- index.html content ends here -->
{% endblock %}
