{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!--
This shows all the articles currently on the site.
This shows them as a list, with only the title and the excerpt showing.
The user can then click on the article title and it will give them the full article
-->

{% block content %}
    <div class="container mt-5">
    {% for article in article_list %}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <a href="{% url 'article_detail' article.slug %}" class="post-link"><h1 class="card-title">{{ article.title }}</h1></a>
                <p class="card-text">{{ article.excerpt }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}