/*Imported fonts*/
.pathway-gothic-one-regular {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.star-wars {
    font-family: "Star Wars", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*Styling for general use that apply to multiple areas*/
body {
    background-image: url("../images/empire-background.jpeg");
    background-repeat: repeat;
    background-position: center;
    background-color: #36454F;
}

main{
    position: relative;
    min-height: 90vh;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-top: 10px;
    padding: 5px;
}

.footer-text {
    margin-bottom: 0;
}

h1, h5 {
    font-family: "Star Wars", serif;
}

/*Styling for specific classes*/
.card-text, .btn, p, span {
    font-family: "Pathway Gothic One", sans-serif;
}

.images {
    max-width: 75%;
}

/*Styling for links*/
a {
    color: #36454F;
    text-decoration: none;
}

a:hover {
    color: #FFE81F;
}

.btn:hover {
    color:#FFE81F
}


@media screen and (min-width: 768px){
    body {
        background-image: url("../images/wallpaper.webp");
        background-repeat: repeat;
        background-position: center;
        background-color: #36454F;
    }

    #review-form {
        position: sticky;
        top: 56px;
}
}

