.pathway-gothic-one-regular {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.star-wars {
    font-family: "Star Wars", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-image: url("../images/wallpaper.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #36454F;
}

h1 {
    font-family: "Star Wars";
}

h5 {
    font-family: "Star Wars";
}

.card-text {
    font-family: "Pathway Gothic One";
}

.form {
    max-width: 50%;
    margin-top: 5%;
}

.images {
    border-radius: 15%;
}

a {
    color: #36454F;
    text-decoration: none;
}

a:hover {
    color: #FFE81F;
}