{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in product.image.url %}
                            <img class="card-img-top" src="{% static 'images/default.jpg' %}">
                            {% else %}
                            <img class="card-img-top" src="{{ product.image.url }}">
                            {% endif %}
                            <div class="card-title">
                                <br>
                                <h5 class="menu-names">{{ product.name}}</h5> 
                                    <div class="text-muted">
                                    <p class="card-text">{{ product.category }}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
<!-- index.html content ends here-->